{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
{{> navbar}}
{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header
    class="post-header {{#if image}}has-image{{/if}}"
    data-fit-window-width="0"
    data-fit-window-height="30"
    style="{{#if image}}background-image: url({{image}});{{/if}}">
    <h1 class="post-title">{{title}}</h1>
</header>

<main class="container" role="main">
    <article class="post {{post_class}}">
        <section            
            class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
            <section class="post-date">
                <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </section>
            <section class="post-tags">
                {{#foreach tags}}
                    <a class="post-tag" href="{{url}}">{{ name }}</a>
                {{/foreach}}
            </section>
            <section class="post-author">
                {{#author}}
                {{> author showMore=true}} 
                {{/author}}
            </section>
            {{! dem comments }}
            <div class="post-comments">
                <i class="icon-comment"></i> Kommentare laden
            </div>
        </footer>

    </article>
</main>

{{/post}}

{{> footer}}