<section class="author {{#if image}}has-image{{/if}}">

    {{#if image}}
        <div class="author-image" style="background-image:url({{image}});">
        </div>
    {{/if}}
    
    <div class="author-info">
        <strong class="author-name">{{name}}</strong>
        <div class="author-metadata">
            {{#if location}}
            <div class="author-location">
                <i class="icon-location"></i> {{location}}
            </div>
            {{/if}}
            {{#if website}}
            <div class="author-website">
                <i class="icon-home"></i> <a href="{{website}}">{{website}}</a>
            </div>
            {{/if}}
        </div>
        {{#if bio}}
            <p class="author-bio">{{bio}}</p>
        {{/if}}
    </div>
    {{#if showMore}}
        <p class="author-more">
            <a href="{{url}}">Mehr von {{name}} &rarr;</a>
        </p>
    {{/if}}
</section>