<header class="header container">
    <div class="row">
        <div class="twelve columns">
            <h1 class="header-title">NBACHEF</h1>
        </div>
    </div>
    <div class="row menu">
        <div class="menu-item four columns">
            NBA
        </div>
        <div class="menu-item four columns">
            Teams
        </div>
        <div class="menu-item four columns">
            Spieler
        </div>
    </div>
    <div class="row menu-content">
        <ul>
            <li>All NBA</li>
            <li>What The Dealy</li>
            <li>Layup Line</li>
            <li>NBA TV</li>
            <li>Blie bla blu</li>
            <li>History</li>
            <li>Gerüchteküche</li>
            <li>ASDFASDFDA</li>
        </ul>
    </div>
</header>

{{!-- <h1>HWAAAHT</h1>
    <nav>
        {{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <a href="{{@blog.url}}/rss/">Subscribe</a>
    </nav>
    <div>
        <div>
            <h1>{{@blog.title}}</h1>
            <h2>{{@blog.description}}</h2>
        </div>
    </div> --}}