<header class="header container">
    <div class="row">
        <div class="twelve columns">
            <h1 class="header-title">{{ @blog.title }}</h1>
        </div>
    </div>
    <div class="row menu">
        <div
            data-header-menu="teams"
            class="menu-item four columns">
            Teams
        </div>
        <div
            data-header-menu="nba"
            class="menu-item four columns">
            The Association
        </div>
        <div
            data-header-menu="spieler"
            class="menu-item four columns">
            Spieler
        </div>
    </div>
    <div class="menu-content row">
        <div class="menu-content-item hidden" data-header-menu-content="nba">
            nba
        </div>
        <div class="menu-content-item hidden" data-header-menu-content="teams">
            <div class="four columns">
                <div><a href="">Atlanta Hawks</a></div>
                <div><a href="">Boston Celtics</a></div>
                <div><a href="">Brooklyn Nets</a></div>
                <div><a href="">Charlotte Hornets</a></div>
                <div><a href="">Chicago Bulls</a></div>
                <div><a href="">Cleveland Cavaliers</a></div>
                <div><a href="">Dallas Mavericks</a></div>
                <div><a href="">Denver Nuggets</a></div>
                <div><a href="">Detroit Pistons</a></div>
                <div><a href="">Golden State Warriors</a></div>
            </div>
            <div class="four columns">
                <div><a href="">Houston Rockets</a></div>
                <div><a href="">Indiana Pacers</a></div>
                <div><a href="">LA Clippers</a></div>
                <div><a href="">LA Lakers</a></div>
                <div><a href="">Memphis Grizzlies</a></div>
                <div><a href="">Miami Heat</a></div>
                <div><a href="">Milwaukee Bucks</a></div>
                <div><a href="">Minnesota Timberwolves</a></div>
                <div><a href="">New Orleans Pelicans</a></div>
                <div><a href="">New York Knicks</a></div>
            </div>
            <div class="four columns">
                <div><a href="">OKC Thunder</a></div>
                <div><a href="">Orlando Magic</a></div>
                <div><a href="">Philadelphia 76ers</a></div>
                <div><a href="">Phoenix Suns</a></div>
                <div><a href="">Portland Trailblazers</a></div>
                <div><a href="">Sacramento Kings</a></div>
                <div><a href="">San Antonio Spurs</a></div>
                <div><a href="">Toronto Raptors</a></div>
                <div><a href="">Utah Jazz</a></div>
                <div><a href="">Washington Wizards</a></div>
            </div>
        </div>
        <div class="menu-content-item hidden" data-header-menu-content="spieler">
            spieler
        </div>
    </div>
</header>

{{!-- <h1>HWAAAHT</h1>
    <nav>
        {{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <a href="{{@blog.url}}/rss/">Subscribe</a>
    </nav>
    <div>
        <div>
            <h1>{{@blog.title}}</h1>
            <h2>{{@blog.description}}</h2>
        </div>
    </div> --}}